//Animaciones

@keyframes rotate {

    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }

}

@keyframes traslate {
    0% {
        transform: translateX(150px);
    }
    100% {
        transform: translateX(0);
    }
}