.footer{
    width: 100%;
    height: 4.375rem;
    background-color: $black;
    color: $white;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    &__side{
        display: flex;
        align-items: center;
        
    }

    &__textos{
        margin-left: 100px;
    }

    &__side{
        margin-right: 100px;
    }

    &__link-items{
        text-decoration: none;
        color: $white;
        margin: 1rem;
    }
}

@include phone-view{
    .footer{
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer__textos{
        display: flex;
        justify-content: center;
        margin-left: 0;
    }

    


    .footer__side{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }

  

   .footer__link-items{
       display: flex;
       flex-direction: column;
       justify-content: center;
        align-items: center;
   }
    
   .footer__componentes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
     
    
   }
}